#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #2A0C4E;
    color: #FDFFF7;
}

nav a {
    color: #ED6A5A;
}

nav a:hover {   /* (nav a) and (nav a:hover) are combined */
    background-color: #2A0C4E;
    color: #FDFFF7;
    text-decoration: none;
    text-align: center;
}

body {
    background-color: #2A0C4E;
    color: #FDFFF7;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    
}


.book, .join {
    background-color: #2d6a4f;
    color: #FDFFF7;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #2A0C4E;
    color: #FDFFF7;
}

.button-box {
    text-align: center;
}

h4 {
    color: #FDFFF7;
}

.msg {
    background-color: #2d6a4f;
    color: #FDFFF7;
}

main section {
    text-align: center;
}

#background {
    background-color: #6096BA;
    color: #FDFFF7;
    height: 725px;
}

.home-title {
    color: #FDFFF7;
}

.msg h2 {
    color: #FDFFF7;
}

.msg p {
    color: #FDFFF7;
}

footer {
    background-color: #2d6a4f;
    color: #FDFFF7;
}

footer h3{
    color: #FDFFF7;
    text-decoration: none;
}

footer a {
    color: #FDFFF7;
    text-decoration: none;
}

footer a:hover {
    background-color: #2A0C4E;
    color: #FDFFF7;
}

.logo {
    width: 80px;
}

.icon{
    width: 80px;
}

#hero-image {
    width: 100%;
}

h3 {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

