.headerimg {
    width: 100%;
    margin-bottom: -5px;
}

body {
    margin: 0;
}

footer {
    background-color: grey;
    width: 100%;
}

.round {
    max-width: 200px;
    max-height: 200px;
    border-radius: 70%;
    border: solid 10px;
}

div img {
    margin: 50px;
}

.footerimg {
    padding: 60px;
    text-align: center;
}
