



@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kdam+Thmor+Pro&family=Roboto+Condensed:wght@300&display=swap');


.insurance {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.logo_link {
    width: 80px;
    padding-top: 10px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    padding-left: 5px;
}

.topsearch {
    height: 35px;
    width: 100%;
    border: solid black 3px;
    /* background-color: rgb(89, 89, 244); */
}

.topsearch input[type=text] {
    padding: 6px;
    width: 100%;
    margin-top: 1px;
}

body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

body main h1 {
    text-align: center;
    font-family: Abril Fatface;
}

.images {
    width: 100%;
    border: solid black 5px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px blue;
}

.images:hover {
    opacity: .6;
    transform: scale(1.03);
}

ul.b {
  list-style-type: square;
}

.opengrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2px;
    grid-gap: 7px;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    background-color: rgb(119, 81, 155);
    width: 100%;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: azure;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(119, 81, 155);
    display: flex;
    justify-content: space-around;
    padding: 25px 50px;
    align-items: center;
}

footer a, footer h3 {
    color: azure;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main div ul li, main div p, main p {
    font-family: Roboto Condensed, Helvetica, sans-serif;
}

main div h3 {
    font-family: Helvetica, sans-serif;
    padding-left: 5px;
    color: black;
    text-decoration: none;
}

.abc:hover, h3:hover{
    color: white;
}

.abc{
    color:black;
}

main p {
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 7px;
}

li {
    font-weight: bolder;
}

form.button input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.button button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.button button:hover {
    background: #0b7dda;
}

form.button::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

/* .left {
    float: left;
} */

.right {
    float: right;
    padding-right: 30%;
}

.border {
    border: solid black 2px;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.Secondgrid{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2px;
    grid-gap: 7px;
}

.link1{
    border: solid black 5px;
    text-align: center;
    width: fit-content;
    margin: 1em auto;
}

.link2{
    border: solid black 5px;
    text-align: center;
    width: fit-content;
    margin: 1em auto;
}