



@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kdam+Thmor+Pro&family=Roboto+Condensed:wght@300&display=swap');


.insurance {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.logo_link {
    width: 80px;
    padding-top: 10px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    padding-left: 5px;
}

.topsearch {
    height: 35px;
    width: 100%;
    border: solid black 3px;
    /* background-color: rgb(89, 89, 244); */
}

.topsearch input[type=text] {
    padding: 6px;
    width: 100%;
    margin-top: 1px;
}

body {
    margin: 0;
    padding: 0;
}

body main h1 {
    text-align: center;
    font-family: Abril Fatface;
}

.images {
    width: 100%;

}

ul.b {
  list-style-type: square;
}

.opengrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2px;
    grid-gap: 7px;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    background-color: rgb(119, 81, 155);
    width: 100%;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: azure;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(119, 81, 155);
    display: flex;
    justify-content: space-around;
    padding: 25px 50px;
    align-items: center;
}

footer a, footer h3 {
    color: azure;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main div ul li, main div p, main p {
    font-family: Roboto Condensed, Helvetica, sans-serif;
}

main div h3 {
    font-family: Helvetica, sans-serif;
}

main p {
    font-weight: bold;
    letter-spacing: 1px;
}