



.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 250px;
    width: 80%;
    padding-left: 10%;
}

.one {
    grid-column: 1;
    grid-row: 9/11;
    background-color: red;
}

.two {
    grid-column: 2;
    grid-row: 7/11;
    background-color: orange;
}

.three {
    grid-column: 3;
    grid-row: 5/9;
    background-color: yellow;
}

.four {
    grid-column: 4;
    grid-row: 3/7;
    background-color: green;
}

.five {
    z-index: 1;
    grid-column: 5;
    grid-row: 1/5;
    background-color: blue;
}

.six {
    z-index: 1;
    grid-column: 6;
    grid-row: 1/5;
    background-color: blue;
}

.seven {
    grid-column: 7;
    grid-row: 3/7;
    background-color: green;
}

.eight {
    grid-column: 8;
    grid-row: 5/9;
    background-color: yellow;
}

.nine {
    grid-column: 9;
    grid-row: 7/11;
    background-color: orange;
}

.ten {
    grid-column: 10;
    grid-row: 9/11;
    background-color: red;
}

.around {
    grid-column: 5/7;
    grid-row: 1/5;
    z-index: 2;
    color: aqua;
    text-align: center;
    
}